body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("Castillo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
